.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #666;
}

.navbar h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #a8f28b;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 34px;
  cursor: pointer;
}
